header {
    display    : flex;
    flex-flow  : row;
    align-items: center;
    height     : 100%;
    width      : 100%;

    .header-info-container {
        width          : 100%;
        display        : flex;
        justify-content: center;

        .info {
            font-size: 1.75rem;
        }
    }

    .cancel-quiz-container {
        width          : 10%;
        min-width      : 4rem;
        display        : flex;
        justify-content: center;
        position       : absolute;
        right          : .4rem;

        button {
            background-color : var(--transparent);
            background-repeat: no-repeat;
            border           : none;
            cursor           : pointer;
            overflow         : hidden;
            outline          : none;
            color            : inherit;

            .cancel-quiz:after {
                display    : inline-block;
                content    : "\00d7";
                font-size  : 2.1rem;
                font-weight: lighter;
            }
        }
    }
}

.primary-background {
    background-color: var(--primary);
    color           : var(--light);
}

.transparent-background {
    background-color: var(--transparent);
}


// TABLET
@media (min-width: 768px) and (max-width: 1024px) {
    header {

        .header-info-container {

            .info {
                font-size: 2rem;
            }
        }

        .cancel-quiz-container {

            button {

                .cancel-quiz:after {
                    font-size: 2.4rem;
                }
            }
        }
    }
}

// DESKTOP
@media (min-width: 1025px) {
    header {

        .header-info-container {

            .info {
                font-size: 2.2rem;
            }
        }

        .cancel-quiz-container {

            button {

                .cancel-quiz:after {
                    font-size: 2.6rem;
                }
            }
        }
    }
}