<!-- Modificamos la clase del header en función de la vista en la que nos encontremos -->
<header [ngClass]="(activeRoute === '/' + pages.questions) ? 'primary-background' : 'transparent-background'">
    <div class="header-info-container">
        <!-- Solo mostramos el indicador de pruguntas si estamos en la vista de preguntas y si el total de preguntas es mayor de cero -->
        <div class="info" *ngIf="totalQuestions > 0 && activeRoute === '/' + pages.questions">
            {{ currentQuestion }}/{{ totalQuestions }}
        </div>
    </div>
    <div class="cancel-quiz-container">
        <button>
            <!-- Modificamos la clase del botón de cancelación en función de la vista en la que nos encontremos -->
            <div (click)="cancelQuiz()" [ngClass]="(activeRoute === '/' + pages.result ) ? 'text-color' : 'light-color' " class="cancel-quiz"></div>
        </button>
    </div>
</header>