<div class="cover-container">

    <div class="cover-img">
        <img src="../../../../assets/img/rocket.png" alt="rocket image">
    </div>

    <div class="cover-content">
        <div class="info-1">
            <span class="line-1">Prueba tu capacidad</span><span class="line-2">con esta Quiz</span>
        </div>
        <div class="info-2">
            <span class="line-1">Responde lo más rápido que puedas</span><span class="line-2"> y podrás ganar muchos premios</span>
        </div>
        <div class="start-btn-container">
            <button (click)="startQuiz()">Empezar quiz</button>
        </div>
    </div>
</div>