.result-container {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    margin         : 0 .6rem;
    height: 100%;

    .prize {
        display       : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        row-gap: 1.5rem;
        .prize-img {
            width: 40%;
            min-width: 6rem;           
            img {
                width : 100%;
                height: auto;
            }
        }
        .text {
            color: var(--heading);
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    .score-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        margin-top: .5rem;
        .score, .time {
            display: flex;
            flex-direction: column;
            align-items: center;
            .result {
                font-weight: bold;
                color: var(--primary);
                font-size: 1.3rem;
                margin-top: .5rem;
            }
        }
        .score{
            margin-bottom: 1.5rem;
        }
    }
    .info {
        text-align: center;
        font-size: .7rem;
        width: 100%;
        flex-grow: .4;
    }
    .rrss {
        display: flex;
        justify-content: space-around;
        width: 50%;
        max-width: 8rem;
        height: 1.8rem;
        img {
            height: auto;
            width: 40%;
        }
    }
}

.line1::after {
    content    : "\a";
    white-space: pre;
}
.line-2::before {
    content    : "\a";
    white-space: pre;
}