/* GLOBAL */

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background);
    color: var(--text);
    border: .3rem solid #000;
    border-radius: 5px;
}

h1,
h2,
h3 {
    color: var(--heading);
}

button:focus {
    outline: none;
}


/* LAYOUT */

app-header {
    grid-area: header;
}

app-content {
    grid-area: content;
}

.layout {
    display: grid;
    row-gap: 0;
    column-gap: 1rem;
    grid-template-rows: 6rem calc(100vh - 12.6rem) 4rem;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer";
}


/* COLORS */

:root {
    --heading: #454545;
    --text: #626f83;
    --primary: #428bca;
    --secondary: #83868f;
    --info: #9692AF;
    --border: #e6eaf2;
    --background: #f9f9f9;
    --warning: #f0ad4e;
    --success: #00B74A;
    --danger: #d9534f;
    --light: #f7f7f7;
    --dark: #292b2c;
    --transparent: transparent;
}


/* HELPERS */

.text-center {
    text-align: center;
}

.text-color {
    color: var(--text);
}

.light-color {
    color: var(--light);
}